In [2]:
# first importing the following libraries
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
# save link to data and reference the link 
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

# the data read in does not have any column names. 
# Specify header = None to avoid reading the first row of data as a header or column name

iris = pd.read_csv(csv_url, header = None)

#iris = pd.read_csv('iris_data.csv', header =  None)

# using the attribute information as the column names
col_names = ['Sepal_Length_cm','Sepal_Width_cm','Petal_Length_cm','Petal_Width_cm','Class']

iris =  pd.read_csv(csv_url, names = col_names)

In [4]:
# look at the top 5 observations
iris.head()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [5]:
# look at the bottom 5 observations
iris.tail()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [33]:
# How many rows in the iris DataFrame
len(iris)

150

In [35]:
# the shape or dimensions of the dataset
iris.shape

(150, 5)

The Data Frame has 5 columns, with the first 4 being the attributes or features of the data set. 
The last column is the class or type of iris plant each observation belongs to.
Each row correspond to an individual observation of an iris plant

In [37]:
species_type = iris['Class'].unique()
species_type

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
#The DataFrame has an index which was automatically assigned when the DataFrame was created on reading in the csv file. 
#The index is a range from 0 to 150
iris.index

RangeIndex(start=0, stop=150, step=1)

In [7]:
# column names of the data
iris.columns

Index(['Sepal_Length_cm', 'Sepal_Width_cm', 'Petal_Length_cm',
       'Petal_Width_cm', 'Class'],
      dtype='object')

In [8]:
iris.head()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

##  Indexing and Filtering data

making a separate dataframe for each class or species.
This might make it easier for plotting and getting statistics.
Trying out the methods and functions from the pandas.pydate website.
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-and-selecting-data
I want to select all the columns with only rows that belong to one class or species of the iris plant.
You may access an index on a Series, column on a DataFrame, and an item on a Panel directly as an attribute:

In [9]:
# this gets a column of data based on attribute.
iris.Sepal_Length_cm.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: Sepal_Length_cm, dtype: float64

In [13]:
# this gets the row of data corresponding to index 0 (the first row)
iris.iloc[[0]]

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa

In [14]:
# can get a slice of data using slicing inside of []
#first 5 rows of data
iris[0:5]

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [15]:
# slice using label. (using the loc attribute)
iris.loc[0:5] # the index is labelled o to 150

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa

In [19]:
# getting values with a boolean array. This is used for checking a condition in a row is met
iris.loc[0:5] > 5.1

   Sepal_Length_cm  Sepal_Width_cm  Petal_Length_cm  Petal_Width_cm  Class
0            False           False            False           False   True
1            False           False            False           False   True
2            False           False            False           False   True
3            False           False            False           False   True
4            False           False            False           False   True
5             True           False            False           False   True

In [25]:
species_type =iris['Class'].unique()
species_type

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

You may select rows from a DataFrame using a boolean vector the same length as the DataFrame’s index (for example, something derived from one of the columns of the DataFrame)

In [49]:
# select from the iris DataFrame only the rows where the Class equals the string "Iris-setosa"
iris[iris['Class'] == "Iris-setosa"].head()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [ ]:
#http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing

In [21]:
# select from the iris DataFrame only the rows where the Class equals the string "Iris-setosa"
# save to a new DataFrame
iris_setosa = iris[iris['Class'] == "Iris-setosa"]

iris_setosa.head()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [27]:
# how many setosas is there.
iris_setosa.count()

Sepal_Length_cm    50
Sepal_Width_cm     50
Petal_Length_cm    50
Petal_Width_cm     50
Class              50
dtype: int64

In [28]:
# a quick summary statistics for the Setosa variation only
iris_setosa.describe()

       Sepal_Length_cm  Sepal_Width_cm  Petal_Length_cm  Petal_Width_cm
count         50.00000       50.000000        50.000000        50.00000
mean           5.00600        3.418000         1.464000         0.24400
std            0.35249        0.381024         0.173511         0.10721
min            4.30000        2.300000         1.000000         0.10000
25%            4.80000        3.125000         1.400000         0.20000
50%            5.00000        3.400000         1.500000         0.20000
75%            5.20000        3.675000         1.575000         0.30000
max            5.80000        4.400000         1.900000         0.60000

In [29]:
# select from the iris DataFrame only the rows where the Class equals the string "Iris-setosa"
# save to a new DataFrame
iris_versicolor = iris[iris['Class'] == "Iris-versicolor"]
iris_versicolor.head()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
50,7.0,3.2,4.7,1.4,Iris-versicolor
51,6.4,3.2,4.5,1.5,Iris-versicolor
52,6.9,3.1,4.9,1.5,Iris-versicolor
53,5.5,2.3,4.0,1.3,Iris-versicolor
54,6.5,2.8,4.6,1.5,Iris-versicolor

In [30]:
iris_versicolor.describe()

       Sepal_Length_cm  Sepal_Width_cm  Petal_Length_cm  Petal_Width_cm
count        50.000000       50.000000        50.000000       50.000000
mean          5.936000        2.770000         4.260000        1.326000
std           0.516171        0.313798         0.469911        0.197753
min           4.900000        2.000000         3.000000        1.000000
25%           5.600000        2.525000         4.000000        1.200000
50%           5.900000        2.800000         4.350000        1.300000
75%           6.300000        3.000000         4.600000        1.500000
max           7.000000        3.400000         5.100000        1.800000

In [32]:
# select from the iris DataFrame only the rows where the Class equals the string "Iris-virginica"
# save to a new DataFrame
iris_virginica = iris[iris['Class'] == "Iris-virginica"]
iris_virginica.head()

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
100,6.3,3.3,6.0,2.5,Iris-virginica
101,5.8,2.7,5.1,1.9,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
103,6.3,2.9,5.6,1.8,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica

DataFrame also has an isin() method. When calling isin, pass a set of values as either an array or dict. If values is an array, isin returns a DataFrame of booleans that is the same shape as the original DataFrame, with True wherever the element is in the sequence of values.

Oftentimes you’ll want to match certain values with certain columns. Just make values a dict where the key is the column, and the value is a list of items you want to check for.

Combine DataFrame’s `isin` with the `any()` and `all()` methods to quickly select subsets of your data that meet a given criteria. To select a row where each column meets its own criterion:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-with-isin

In [58]:
# Here subsetting the data to meet a given criteria
values =  {'Class': ['Iris-versicolor', 'Iris-virginica']}
row_mask = iris.isin(values).any(1)
iris[row_mask]

,Sepal_Length_cm,Sepal_Width_cm,Petal_Length_cm,Petal_Width_cm,Class
50,7.0,3.2,4.7,1.4,Iris-versicolor
51,6.4,3.2,4.5,1.5,Iris-versicolor
52,6.9,3.1,4.9,1.5,Iris-versicolor
53,5.5,2.3,4.0,1.3,Iris-versicolor
54,6.5,2.8,4.6,1.5,Iris-versicolor
55,5.7,2.8,4.5,1.3,Iris-versicolor
56,6.3,3.3,4.7,1.6,Iris-versicolor
57,4.9,2.4,3.3,1.0,Iris-versicolor
58,6.6,2.9,4.6,1.3,Iris-versicolor
59,5.2,2.7,3.9,1.4,Iris-versicolor
60,5.0,2.0,3.5,1.0,Iris-versicolor
61,5.9,3.0,4.2,1.5,Iris-versicolor
62,6.0,2.2,4.0,1.0,Iris-versicolor
63,6.1,2.9,4.7,1.4,Iris-versicolor
64,5.6,2.9,3.6,1.3,Iris-versicolor
65,6.7,3.1,4.4,1.4,Iris-versicolor
66,5.6,3.0,4.5,1.5,Iris-versicolor
67,5.8,2.7,4.1,1.0,Iris-versicolor
68,6.2,2.2,4.5,1.5,Iris-versicolor
69,5.6,2.5,3.9,1.1,Iris-versicolor
70,5.9,3.2,4.8,1.8,Iris-versicolor
71,6.1,2.8,4.0,1.3,Iris-versicolor
72,6.3,2.5,4.9,1.5,Iris-versicolor
73,6.1,2.8,4.7,1.2,Iris-versicolor
74,6.4,2.9,4.3,1.3,Iris-versicolor
75,6.6,3.0,4.4,1.4,Iris-versicolor
76,6.8,2.8,4.8,1.4,Iris-versicolor
77,6.7,3.0,5.0,1.7,Iris-versicolor
78,6.0,2.9,4.5,1.5,Iris-versicolor
79,5.7,2.6,3.5,1.0,Iris-versicolor
...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
123,6.3,2.7,4.9,1.8,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
125,7.2,3.2,6.0,1.8,Iris-virginica
126,6.2,2.8,4.8,1.8,Iris-virginica
127,6.1,3.0,4.9,1.8,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
129,7.2,3.0,5.8,1.6,Iris-virginica
130,7.4,2.8,6.1,1.9,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
133,6.3,2.8,5.1,1.5,Iris-virginica
134,6.1,2.6,5.6,1.4,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
137,6.4,3.1,5.5,1.8,Iris-virginica
138,6.0,3.0,4.8,1.8,Iris-virginica
139,6.9,3.1,5.4,2.1,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:

## Missing Values

## check for any missing values using pandas.isnull() or the opposite using pandas.notnull()
print(pd.isnull(iris).sum())

print(pd.notnull(iris).sum())


# by default index.col is set to a range from 0 to the number of rows. 
# This is fine for here. I would prefer to have the row number starting from 1 and the last observation 150

# can write the DataFrame to a comma separated file to save any changes including column names added


iris.to_csv('iris_data.csv')

# Detecting and Filtering outliers

# can see the sumamry statistics of the dataset using the pandas.describe() function.
# can then look at observations that have values exceeding soem statistic values using boolean.

# basic descriptive statistics for each column of the data in the Iris DataFrame
print(iris.describe())

#  how many rows in the iris DataFrame?
print(len(iris))

# The shape of the dataset
print(iris.shape)

print(iris.columns)
# can retrieve a column of data from the iris DataFrame using dict-like notation
print(iris['Sepal_Length_cm'].head())

# can find how many different plants of each class or species using unique

species_type =iris['Class'].unique()
print("The following are the three class or species types of iris in the data set \n",*species_type, sep = " ")
# unpack the list and print the sequence without brackets. (https://stackoverflow.com/a/35119046)

# separate the different classes into different dataFrames.

iris_setosa = iris[iris.Class =='Iris-setosa']
print(iris_setosa)

# Selecting and Filtering 

# can index using the square brackets and this will return a Series corresponding to the column name.
# can retrieve a column of data from the iris DataFrame using dict-like notation or by attribute:
print(iris.Petal_Width_cm.head())

# rows of the iris DataFrame can be retrieved by position name or using the loc attribute.
# The index operators can be used to select a subset or rows and columns.
# loc for axis labels or iloc for integers
# retrieve first observation retrieved as a DataFrame
# The index for the iris DataFrame at the moment is just a range of integers from 0 to 150 
iris.loc[[0]] 
# retrieve as a Series
iris.loc[0]

# I could add a new column by assigning a column that doesn't exist already.
# I might add a new column of labels from 1 to 150 and maybe combined with the species type.
# I dont like the index starting from 0 up to 149! 

# can index into the dataframe to retrieve one or more columns either with a single value or a sequence
print(iris[0:5])

# Boolean Indexing
# can use Boolean operators to select rows that meet certain conditions.

iris[iris.Sepal_Length_cm > 7]

iris.iloc[:,4].head()

iris_setosa = iris[Class =="Iris-setosa"]
# can sort the DataFrame by one or more of the columns.
# put the columns in the order to sort by
iris.sort_values(by =['Petal_Width_cm','Class'])
iris.sort_values(by =['Class','Petal_Length_cm'])
iris.sort_values(by =['Class','Sepal_Length_cm'])
iris.sort_values(by =['Class','Sepal_Width_cm'])

iris.sort_values(by =['Class','Petal_Length_cm'])


## Summary statistics

# Can look at summary statistics for the overall data set.
iris.describe()

# can use boolean indexing to look at the data.
# maybe look at 

# sl_mean =iris.Sepal_Length_cm.mean()
# print(sl_mean)
# print(iris[iris.Sepal_Length_cm] > sl_mean)

iris2 = iris.copy()
print(iris2.describe())


iris.cov()
iris.corr()


## Data Cleaning and Transformation


# the duplicated method can be used to return a boolean series indicating 
# whether each row is a duplicate of another row or not.

#plt.figure()

# Visualising the data set

# can 
# plt.figure()
# iris.plot.hist(bins =50)
# plt.suptitle('iris histograms',fontsize = 14)
# plt.show()

# plt.figure()
# plt.suptitle('iris histograms of measurements',fontsize = 14)
# iris['Class'].plot.hist(bins = 30)
# plt.show()

# plt.scatter(